<div class="loading" *ngIf="loading">
    <mat-spinner color="primary"></mat-spinner>
</div>
<div id="wave1"></div>
<div class="main-container">
    <div class="sub-container">
        <div class="row">
            <div class="col-12 mb-4">
                <h3 id="formTitle">Reporte Reunion</h3>
                <h1 style="margin-bottom: 2% !important;"><strong>{{reunion.tema}}</strong></h1>
                <p><strong>Fecha</strong></p>
                <p>{{reunion.fecha}}</p>
                <p><strong>Hora</strong></p>
                <p style="display: inline;">{{reunion.desde}}</p> - <p style="display: inline;">{{reunion.hasta}}
                </p>
            </div>
            <button (click)="generatePDF()" id="btn" class="btn btn-lg btn-primary stdaBtn" type="submit">Descargar</button>
        </div>
    </div>
</div>
<div id="wave2"></div>