/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

html {
    @media (max-width: 75em) {
        font-size: 80%; 
    }

}
body{
    overflow-x: hidden;
    margin:0;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
